<!--编辑器-->
{extend name="template/base" /}


<style>
    .order_active a{
        color: #FFF !important;
        background-color: #428bca !important;
        border-radius: 3px 3px 0 0;border-color:#428bca !important;
    }
    .tab-content{
        margin:10px;
        padding: 10px;
        top:30px;
        min-height:500px;
    }
    .tab-pane{
        margin: 10px;
        padding: 4px;
        height:100%;
    }
</style>
{block name="content"}
<div class="page-container" >
    <div id="app">
    <form class="form form-horizontal"  action="{:url('Goods/add')}" id="form-article-add" method="post">
        <div class="panel panel-default">
            <div class="panel-body">
                <ul class="nav nav-arrow-next nav-tabs" id="myTab"  style="margin-bottom:10px;">
                    <li class="order_active"><a href="javascript:">基本信息</a></li>
                    <li><a href="javascript:">商品详情</a></li>
                    <li><a href="javascript:">商品规格</a></li>
                    <li><a href="javascript:">玩法说明</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane  active"  id="tab_basic">
                        <div class="row cl">
                            <label class="form-label col-xs-2"><span class="c-red">*</span>商品图片：</label>

                            <div class="col-sm-9">
                                <div class="app-img-show pull-left">
                                </div>
                                <button class="upload-img btn btn-primary" type="button" data-input-name="img_url"><i
                                        class="fa fa-upload"></i>&nbsp;&nbsp;<span class="bold">添加图片</span></button>
                                <div class="upload-img-ids">
                                    <input data-input="img" type="hidden" name="img_url[]" value="">
                                </div>
                            </div>
                        </div>
                        <div class="row cl">
                            <label class="form-label col-xs-2"><span class="c-red">*</span>商品名称：</label>
                            <div class="formControls col-xs-6">
                                <input type="text" class="input-text" v-model="goods.goods_name" name="goods_name">
                            </div>
                        </div>
                        <div class="row cl">
                            <label class="form-label col-xs-2"><span class="c-red">*</span>商品分类：</label>
                            <div class="formControls col-xs-3">
                                <span class="select-box">
                                <select  v-model="{{goods.cat_id}}" class="select">
                                   <option value="">请选择</option>
                                </select></span>
                            </div>
                        </div>
                        <div class="row cl">
                            <label class="form-label col-xs-2">商品角标：</label>
                            <div class="col-xs-4">
                                <input name="shop_type" type="radio" value="1" >&nbsp;折扣&nbsp;&nbsp;
                                <input name="shop_type" type="radio" value="2" >&nbsp;热卖&nbsp;&nbsp;
                                <input name="shop_type" type="radio" value="3" >&nbsp;新上&nbsp;&nbsp;
                                <input name="shop_type" type="radio" value="4" >&nbsp;限时&nbsp;&nbsp;
                                <input name="shop_type" type="radio" value="0"  >&nbsp;无
                            </div>
                        </div>
                        <div class="row cl">
                            <label class="form-label col-xs-2">市场价格：</label>

                            <div class="formControls col-xs-2">
                                <input type="text" class="input-text" v-model="goods.goods_price" name="goods_price">
                            </div>
                            <div class="formControls col-xs-2">元</div>
                        </div>

                        <div class="row cl">
                            <label class="form-label col-xs-2"><span class="c-red">*</span>本店价：</label>
                            <div class="formControls col-xs-2">
                                <input type="text" class="input-text" v-model="goods.flash_price" name="flash_price">
                            </div>
                            <div class="formControls col-xs-2">元</div>
                        </div>
                        <div class="row cl">
                            <label class="form-label col-xs-2">活动类型：</label>
                            <div class="col-xs-4">
                                <input name="commend_type" type="radio" value="1" >&nbsp;免费商品
                                <input name="commend_type" type="radio" value="2" checked="checked" >&nbsp;折扣商品
                            </div>
                        </div>
                        <div class="row cl">
                            <label class="form-label col-xs-2"><span class="c-red">*</span>所需点赞数：</label>
                            <div class="formControls col-xs-2">
                                <input type="text" class="input-text" value="{$goods.thumb|default=''}" name="thumb">
                            </div>
                        </div>

                        <div class="row cl">
                            <label class="form-label col-xs-2"><span class="c-red">*</span>集赞时间限制：</label>
                            <div class="formControls col-xs-2">
                                <input type="text" class="input-text" value="" name="time_str">
                            </div>
                            <div class="formControls col-xs-2">小时后</div>
                        </div>

                        <div class="row cl">
                            <label class="form-label col-xs-2">商品单位：</label>

                            <div class="formControls col-xs-2">
                                <input type="text" class="input-text" value="{$goods.unit|default=''}" name="unit">
                            </div>
                        </div>
                        <div class="row cl">
                            <label class="form-label col-xs-2">是否上架：</label>
                            <div class="col-xs-4">
                                <input name="status" type="radio" value="2" checked="checked">&nbsp;下架
                                <input name="status" type="radio" value="1" checked="checked">&nbsp;上架
                            </div>
                        </div>

                    </div>
                    <div class="tab-pane" id="tab_des1">
                        <div class="row cl">
                            <label class="col-xs-12 col-sm-2 col-md-2 control-label">商品详情</label>
                            <div class="col-sm-9 col-xs-12">
                                <script id="goods_desc" data-input-name="goods_desc"  name="goods_desc" type="text/plain" style="width:100%;height:400px;"></script>
                                <script>

                                </script>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" >
                       <!-- <table class="table">
                            <thead>
                            <tr>
                                <th style="width:50px;"></th>
                                <th>规格名称</th>
                                <th>规格值</th>
                            </tr>
                            </thead>
                            <tbody id="param-items" class="ui-sortable">

                            </tbody>
                            <tbody>
                            <tr>
                                <td>&nbsp;</td>
                                <td colspan="2">
                                    <a href="javascript:;" id="add-param" onclick="addParam()" style="margin-top:10px;" class="btn btn-default" title="添加参数">
                                        <i class="fa fa-plus"></i> 添加参数</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>-->
                        <div class="row cl">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th style="width:50px;"></th>
                                    <th>规格名称</th>
                                    <th>规格值</th>
                                </tr>
                                </thead>
                                <tbody id="param-items" class="ui-sortable">

                                </tbody>
                                <tbody>
                                <tr>
                                    <td>&nbsp;</td>
                                    <td colspan="2">
                                        <a href="javascript:;" id="add-param" onclick="addParam()" style="margin-top:10px;" class="btn btn-default" title="添加参数">
                                            <i class="fa fa-plus"></i> 添加规格</a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>

                        </div>


                        <div class="row cl">
                            <label class="form-label col-xs-2"><span class="c-red">*</span>规格模板：</label>
                            <div class="formControls col-xs-6"><span class="select-box">
                                <select name="attr_id" class="select" id="shop_attr">
                                    <option value="0">请选择规格模板</option>

                               </select>
			             	</span>
                            </div>
                            <div class="formControls col-xs-10 col-offset-2" style="padding-top: 10px;">
                                <table class="table table-bordered table-condensed">
                                    <thead>
                                    <tr class="active-tr"></tr>
                                    </thead>
                                    <tbody class="rowspan-tr"></tbody>
                                </table>
                            </div>

                        </div>



                    </div>

                    <div class="tab-pane">
                        <div class="row cl">
                            <label class="col-xs-12 col-sm-2 col-md-2 control-label">玩法说明</label>
                            <div class="col-sm-9 col-xs-12">
                                <script id="require" data-input-name="require"  name="require" type="text/plain" style="width:100%;height:400px;"></script>
                                <script>

                                </script>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="row cl">
                    <div class="col-md-12" style="text-align:center">
                        <button class="btn btn-default btn-lg " onclick="history.go(-1);" type="button"><i class="fa fa-arrow-left"></i> 返回</button>
                        <button class="btn btn-danger btn-lg " id="submit_btn" type="button"><i class="fa fa-edit"></i> 提交</button>
                    </div>
                </div>

            </div>
        </div>
    </form>
    </div>
</div>
{/block}
{block name="script"}
<script src="__STATIC__/js/goods.js"></script>
<script type="text/javascript" src="__LIB__/showdown/1.4.2/showdown.min.js"></script>
<script>window.UEDITOR_HOME_URL = '__LIB__/ueditor/1.4.3/'</script>
<script type="text/javascript" charset="utf-8" src="__LIB__/ueditor/1.4.3/ueditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="__LIB__/ueditor/1.4.3/ueditor.all.min.js"> </script>
<script type="text/javascript" charset="utf-8" src="__LIB__/ueditor/1.4.3/lang/zh-cn/zh-cn.js"></script>

<script>
    var app = new Vue({
        el:'#app',
        data :{
            goods : {$goods}
        }
    });




//    UE.getEditor('goods_desc');
//    UE.getEditor('require');
    var area_init = function ($obj) {
        $obj.empty();
        $obj.append('<option value="_NULL_">--请选择--</option>');
    };
    //设置一级分类
    var set_cat_one = function ($obj, default_id) {
        area_init($obj);
        $.ajax({
            url: '{:url("Public/get_cat_one")}',
            async: false,
            type: 'post',
            success: function (res) {
                $.each(res, function (index, option) {
                    var selected = '';
                    if (default_id == option.id) {
                        selected = 'selected';
                    }
                    $obj.append('<option value="' + option.id + '" ' + selected + '>' + option.cat_name + '</option>');
                });
            },
            error: function () {
                layer.msg('系统内部错误，请稍后再试');
            }
        });
    };
    //设置二级分类
    var set_cat_child = function ($obj, p_id, default_id) {
        area_init($obj);
        $.ajax({
            url: '{:url("Public/get_cat_child")}',
            type: 'post',
            async: false,
            data: {cat_id: p_id},
            success: function (res) {
                $.each(res, function (index, option) {
                    var selected = '';
                    if (default_id == option.id) {
                        selected = 'selected';
                    }
                    $obj.append('<option value="' + option.id + '" ' + selected + '>' + option.cat_name + '</option>');
                });
            },
            error: function () {
                layer.msg('系统内部错误，请稍后再试');
            }
        });
    };
    $(function () {
        /*分类选择*/
        ShGoods.init({attribute_url:"{:url('Goods/attr_read')}",});
        var $cat_one = $('#cat_one');
        var $cat_two = $('#cat_two');
        var $input_cat = $('#cat_id');
        set_cat_one($cat_one);
        set_cat_child($cat_two);
        $cat_one.change(function () {
            area_init($cat_two);
            var id = $(this).find("option:selected").val();
            if (id != '_NULL_') {
                $input_cat.attr('value', id);
                set_cat_child($cat_two, id, 0);
            } else {
                $input_cat.attr('value', '');
            }
        });

        $cat_two.change(function () {
            var id = $(this).find("option:selected").val();
            if (id != '_NULL_') {
                $input_cat.attr('value', id);
            } else {
                $input_cat.attr('value', '');
            }
        });
        /*图片设置*/
        $('.upload-img').click(function () {
            var imgIds = $(this).next(), imgShow = $(this).prev(), input_name = $(this).attr('data-input-name');
            var valArr = [];
            imgIds.find("input[data-input='img']").each(function (n) {
                valArr[n] = $(this).val();
            });
            layer.open({
                type: 2,
                title: '图片设置',
                area: ['400px', '400px'],
                content: '{:url("Public/upload_img")}&max=5&ids=' + valArr.join(','),
                btn: ['确定', '取消'],
                yes: function (index) {
                    imgIds.empty();
                    imgShow.empty();
                    $(window.frames["layui-layer-iframe" + index].document).find('input[type="hidden"]').each(function (i) {
                        imgIds.append('<input data-input="img" type="hidden" name="' + input_name + '[' + i + ']" value="' + $(this).val() + '">');
                        imgShow.append('<img src="' + $(this).attr('data-url') + '">');
                    });
                    layer.close(index);
                }
            })
        })
    })
</script>
<script>

    $("#myTab li ").click(function(){
        // 获取点击的是第几个按钮
        var i = $(this).index();
        //alert(i);
        $(".tab-pane").hide();
        // 显示第i个table
        $(".tab-pane").eq(i).show();
        // 先把当前选中的按钮变为未选中
        $("#myTab .order_active").removeClass("order_active");
        // 设置当前按钮为选中状态
        $(this).addClass("order_active");
    });

    $(function(){
        $('#submit_btn').click(function(){
            $("form").ajaxSubmit(function(res){
                layer.msg(res.msg);
                if (res.status == 1) {
                    window.location.href ="{:url('Goods/index')}";
                }
            })
        })

    })
</script>
<script language="javascript">
    function addParam() {
        var htm ="";
        htm+="<tr> <td> <a href='javascript:;' class='fa fa-move' title='拖动调整此显示顺序'><i class='fa fa-arrows'></i></a>&nbsp;";
        htm+="<a href='javascript:;' onclick='deleteParam(this)'style='margin-top:10px;' title='删除'><i class='fa fa-times'></i></a> </td>";
        htm+= "<td> <input name='attr_name[]' placeholder='请输入规格(如颜色)' type='text'class='form-control param_title' value=''>";
        htm+= "<td><input name='attr_value[]'  placeholder='请输入规格值(如红色，多个值之间用,间隔)' type='text' class='form-control param_value' value=''></td> </tr>";
        $('#param-items').append(htm);

    }
    function deleteParam(o) {
        $(o).parent().parent().remove();
    }
</script>
{/block}